

<section class="about my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <p> During my studies and career, I have strived to learn all areas and phases of professional software development. Today, I am fullstack developer and architect.</p>
            <p> I am constantly improving my knowledge and updating frameworks and approaches used in software development.</p>
            <p> New technologies, architectures and approaches in programming and software development are a challenge that fulfills me and makes me happy.</p>        
            <p> For more productive and high-quality software development, I now also use AI (GitHub Copilot integrated in the development environment)</p> 
            <p> I work, improve and learn something new every day.</p>
        </div>
        <br>
        <button (click)="goToTechnologiesWhichIAmUsing()" type="button" class="btn btn-success">Technologies which I am using in software development</button>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 mt-md-0 mt-5">
                <img src="../../assets/images/Milan Karajovic.webp" class="img-fluid rounded-img" alt="">
            </div>
        </div>
    </div>
</section>
