<section class="contact">
  <div class="container my-5">
    <div class="row justify-content-evenly align-items-center">
      <img
        src="assets/images/LinkedinLogo.jpg"
        alt="Logo"
        class="d-inline-block align-text-top"
      />
      <h4>LinedIn</h4>
      <p>
        <a
          href="https://www.linkedin.com/in/milan-karajovic-java-angular-security-cloud-architect/"
          class="text-decoration-none"
        >
          https://www.linkedin.com/in/milan-karajovic-java-angular-security-cloud-architect/
        </a>
      </p>
    </div>
  </div>
</section>
