<section class="about my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <p> &#x2022; <b>Graduated Master of Science</b> degree in School of Electrical Engineering, department of <b>Software Engineering</b>, at The <b>University of Belgrade, Serbia</b> (ETF)"</p>
            <p> &#x2022; <b>Graduated Dipl.Eng. degree</b> in School of Electrical Engineering, department of <b>Electrical and Computer Engineering</b>, at The <b>University of Belgrade, Serbia</b> (ETF)"</p>
            <p> &#x2022; <b>Graduated general highschool</b>, department of <b>mathematical sciences</b> in Kruševac, Serbia</p>        
        </div>
        <br>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 mt-md-0 mt-5">
                <img src="../../assets/images/Milan_Karajovic.jpg" class="img-fluid rounded-img" alt="">
            </div>
        </div>
    </div>
</section>